<div class="row" *ngIf="events && events.length>0">
    <div class="col-6 mt-4" *ngFor="let eventos of events">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">{{eventos.title}}</h4>
                <p class="card-text">{{eventos.description}}</p>
            </div>
            <div class="card-footer text-muted">
                {{eventos.date}}
                <span class="float-right">{{eventos.price}}</span>

            </div>
        </div>
    </div>
</div>
