<!--The content below is only a placeholder and can be replaced.-->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">angular events</a>
</nav>
<div class="container">
  <app-event-show></app-event-show>
</div>
    